* {
  font-family: "Pathway Gothic One", sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: antiquewhite;
  }

  .tag {
    font-family: Aveden;
    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 4rem;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .tag2 {
    font-family: Aveden;
    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 4rem;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .tag3 {
    font-family: Aveden;
    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 4rem;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  
  /* product*/
  .product-title {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .product-card {
    background: #fff;
    display: grid;
    /* align-items: center; */
    grid-template-rows: 55% 45%;
    height: 80%;
    width: 30%;
    box-shadow: 10px 10px 25px 0px #3c3c3c;
  }
  
  .product-card2 {
    background: #fff;
    display: grid;
    /* align-items: center; */
    grid-template-rows: 55% 45%;
    height: 80%;
    width: 30%;
    box-shadow: 10px 10px 25px 0px #3c3c3c;
    margin-left:auto;
    margin-right:auto;
  }

  .product-card3 {
    background: #fff;
    display: grid;
    /* align-items: center; */
    grid-template-rows: 55% 45%;
    height: 80%;
    width: 30%;
    box-shadow: 10px 10px 25px 0px #3c3c3c;
    margin-left:auto;
    margin-right:auto;
  }

  .product-image {
    /* border: 2px solid black; */
    background-image: url("ferrari-458-Black.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    width: 28rem;
    height: 66%;
  }

  .product-image2 {
    /* border: 2px solid black; */
    background-image: url("ferrari-458-Black.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    width: 28rem;
    height: 66%;
  }

  .product-image3 {
    /* border: 2px solid black; */
    background-image: url("ferrari-458-Black.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    width: 28rem;
    height: 66%;
  }
  
  .product-description {
    background-color: #62c256;
    color: #fff;
    padding-left: 20px;
    margin-top: -67px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }
  
  .product-image img {
    width: 28rem;
  }
  
  .stars {
    color: yellow;
    font-size: 1em;
  }

  /* colors */
.colors-price {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: -15px;
  }

  .colors-price2 {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: -15px;
  }

  .colors-price3 {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: -15px;
  }

  .colors {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .red {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .red2 {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .red3 {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .blue {
    background: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .blue2 {
    background: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .blue3 {
    background: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .black {
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .black2 {
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .black3 {
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .pricing {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .pricing2 {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
  }

  .pricing3 {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
  }

  .old-price {
    font-weight: 100;
  text-decoration: line-through;
  }

  .old-price2 {
    font-weight: 100;
  text-decoration: line-through;
  }

  .old-price3 {
    font-weight: 100;
  text-decoration: line-through;
  }

  /* buttons */
button {
    cursor: pointer;
  }
  
  #button {
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }
  
  #button2 {
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }

  #button3 {
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }

  button red-button {
    background-color: red;
  }
  
  .button-text {
    font-family:Aveden;
    color: #fff;
    margin-left: 5px;
  }
  
  .feedback {
    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color:none;
  }

  .feedback2 {
    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color:none;
  }

  .feedback3 {
    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color:none;
  }